# Python cache
__pycache__/
*.pyc

# Environment
.env

# Data files
smart_attendance/data/*.csv
smart_attendance/data/*.pkl
smart_attendance/data/*.yml

# Images / dataset
smart_attendance/data/images/

# OS junk
.DS_Store
Thumbs.db